.accordion-link {
    cursor: pointer;
    display: inline-block; /* Make the div fit its content */
}

.accordion-item {
    text-align: center; /* Center align the content */
}

.accordion-title {
    padding: 5px; /* Adjust padding as needed */
}

.accordion-content {
    margin-top: 10px;
}