/* Navbar menu background and text color */
.navbar-menu {
    background-color: rgb(54, 54, 54);
    color: white;
 }
 
 /* Navbar item default color */
 .navbar-item {
    color: white;
 }
 
 /* Hover state for navbar items */
 .navbar-item:hover {
     background-color: rgb(37, 37, 37);
     color: white;
 }
 
 /* Adjustments for the active navbar menu */
 .navbar-menu.is-active .navbar-item:hover {
     background-color: rgb(37, 37, 37);
     color: white;
 }
 
 /* Specific hover state for links within the navbar menu */
 .navbar-menu.is-active a.navbar-item:hover {
     background-color: rgb(37, 37, 37);
     color: white;
 }
 
 /* Adjustments to ensure proper display of logos */
 .navbar-item img {
     height: 24px; /* Adjust as needed */
     margin: 0 8px; /* Adjust spacing as needed */
 }
 